.startButton{
    cursor: pointer;
    width: 150px;
    height: 35px;
    font-size: 10px;
    font-weight: 350;
    letter-spacing: .02em;
    text-align: center;
    box-sizing: border-box;
    outline-color: #74b3ff;
    position: absolute;
    bottom: 0;
    background-color: #74b3ff;
    border-radius: 10;
}

.counterDiv{
    width: 100px;
    height: 100px;
    background-color: #FFFFFF;
}

.displayNoneButton{
    display: none;
}