.startButton{
    cursor: pointer;
    width: 150px;
    height: 35px;
    font-size: 10px;
    font-weight: 350;
    letter-spacing: .02em;
    text-align: center;
    box-sizing: border-box;
    outline-color: #74b3ff;
    bottom: 0;
    background-color: #74b3ff;
    border-radius: 10;
}

.counterDiv{
    width: 100px;
    height: 100px;
    background-color: #FFFFFF;
}

.displayNoneButton{
    display: none;
}
.button{
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: .4rem;
    cursor: pointer;
    display: inline-flex;
    font-size: 1.8rem;
    font-weight: 700;
    height: 2.8rem;
    letter-spacing: .02em;
    outline: 0;
    padding: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all .09s linear;
    background-color: #48545d !important;
    color: #fff;
}

.button:hover{
    background-color: #1a2935 !important;
}

.buttonText{
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: .02em;
    text-align: center;
}