.avarageDiv{
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
}

.vote{
    display: flex;
    flex-direction: column;

}
.point{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
}

.halfDiv{
    flex: 0.5;
    width: 50%;
}

.stick{
    background-color: #1a2935;
    height: 5.4rem;
    width: 10px;
    border-radius: .8rem;
    margin-bottom: 15px;
}
.pointSpan{
    color: #1a2935;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: .8em;
}

.pointHeader{
    color: #a8aeb2;
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
}

.cardAvarage{
    align-items: center;
    border: 2px solid #a8aeb2;
    border-color: #1a2935;
    border-radius: .8rem;
    color: #1a2935;
    display: flex;
    font-size: 1.8rem;
    font-weight: 700;
    height: 6.4rem;
    justify-content: center;
    width: 4rem;
}