.revealButton{
    align-items: center;
    border: 0;
    border-radius: .4rem;
    cursor: pointer;
    display: inline-flex;
    font-size: .9rem;
    font-weight: 700;
    height: 2.6rem;
    letter-spacing: .02em;
    outline: 0;
    padding: 0 1.2rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all .09s linear;
    background: #3993ff;
    color: #fff;
}

.revealButton:hover{
    background: #74b3ff;
}

.buttonText{
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: .02em;
    text-align: center;
    
}


.displayNoneButton{
    display: none;
}

.counterText{
    box-sizing: border-box;
    outline-color: #74b3ff;
    color: #74b3ff;
    font-size: 1.8rem;
    font-weight: 600;
}