.tableDiv{
    background: #d7e9ff;
    border-radius: 1.4rem;
    grid-area: table;
    height: auto;
    margin: 0 auto;
    min-height: 7.5rem;
    min-width: 16.4rem;
    padding: 0 1.6rem;
    position: relative;
    width: 16.4rem;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.pickSpan{
    color: #48545d;
    font-size: 0.9rem;
    font-weight: 400;
}

